/* ВНЕШНИЙ БЛОК */
#PanelLeft {
    position: fixed; /* положение */
    width: 30px; /* ширина блока */
    height: 80px; /* высота блока */
    padding: 2px; /* отступы от границ внутри блока */
    border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 15px 15px 0;
    top: 100px; /* отступ сверху */
    left: 0; /* отступ слева */
    z-index: 500;
}

.Pull-outPanel {
    background-color: black; /* цвет фона */
    color: #8a6435e8; /* цвет текста */
    box-shadow: 0.8px -0.1px 3px 1.1px #ccccccb3;
    font: 40px Arial; /* размер и тип шрифта */
    text-align: center; /* выравнивание текста по центру */
}

.LeftPanel {    
    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/* СКРЫТЫЙ БЛОК */
#HiddenPanelLeft {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    left: -220px; /* отступ слева */
    background: #000; /* цвет фона */
    box-shadow: 0.8px -0.1px 3px 1.1px #ccccccb3;
    color: #fdf7f7d1; /* цвет текста */
    width: 200px; /* ширина блока */
    height: 510px; /* высота блока */
    padding: 4px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */
    font-family: "Venn";
    font-variation-settings: "wght" 550, "wdth" 125;
    font-stretch: 50%;
    font-optical-sizing: auto;
    border-left-width: medium;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.LeftPanel:hover {
    left: 220px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}
.LeftPanel:hover #HiddenPanelLeft {
    left: 0; /* отступ слева */
    color:Lime;
}

#HiddenPanelLeft > h6 > nav {
    left: 6vw;
    margin: 21px 12px 12px 42px;
    }

    *{
  padding: 0;
  margin: 0;
}

ul{
  text-align: center;
  background: #000;
  
}
ul > li{
  display: inline-block;
  vertical-align: top;
}
ul > li a{
  display: block;
  padding: 14px 30px;
  color: silver;
  text-decoration: none;
  position: relative;
}
ul > li a:before{
  content: '⋮';
  position: absolute; top: 50%; left: 0;      
  width: 1px;
  height: 16px;
  margin-top: -8px;
}
ul > li:first-child a:before{
  content: '';
}

#Annotation {
    color: #dffaf6e0 !important;
    text-decoration: none;
    text-shadow: 0.8px -0.1px 3px 1.1px #ccccccb3;
}

.Atlas {
    display: block;
    padding: 14px 12px;
    color: silver;
    text-decoration: none;
    position: relative;
    left: -32px;
}

#Natural {
    position: fixed;
    top: 200px;
    left: 0;
    background-color: black;
    width: 30px;
    height: 80px;
    font: 40px Arial;
    color: #8a6435e8;
    box-shadow: 0.8px -0.1px 3px 1.1px #ccccccb3;
    text-align: center;
    padding: 2px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 15px 15px 0;
    z-index: 35;
}

 #hidden_Natural {
    position: fixed;
    top: 200px;
    left: -220px;
    background: #000;
    box-shadow: 0.8px -0.1px 3px 1.1px #ccccccb3;
    color: #fdf7f7d1;
    width: 200px;
    height: 510px;
    padding: 4px;
    text-align: left;
    font-family: "Venn";
    font-variation-settings: "wght" 550, "wdth" 125;
    font-stretch: 50%;
    font-optical-sizing: auto;
    border-left-width: medium;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index: 35;
}

#Annotation_Natural {
    color: #dffaf6e0 !important;
    text-decoration: none;
    text-shadow: 0.8px -0.1px 3px 1.1px #ccccccb3;
}

.Vertical-text {
 transform: rotate(90deg);
 transform-origin: left top 0;
}

div#Vertical {
    color: #fff;
    font-size: 3vh;
    display: flex;
    position: relative;
    align-content: center;
    margin-left: 3.7vh;
    margin-top: 1.1vh;
  }