@import url("./css/portal.css");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
  height: 100%;
}

section {
  height: 100%;
}
section#SlimBox {
    position: relative;
    bottom: -100vh;
}

html {
	overflow-y: hidden;
	font-saze: 50px;} 
	:-webkit-scrollbar {
	width: 0px;
}

a {
    color: silver;
    text-decoration: none;
}

h6 {
    font-family: "Kurale";
    font-style: normal;
    font-weight: normal;
      color: #edb66d;
	  text-rendering: auto;
   font-size: 2vh;
}
    
@font-face {
font-family: 'Venn';
}

@font-face {
  font-family: 'SourceSans';
}

@supports (font-variation-settings: "wght" 400) {
  html {
    font-family: 'SourceSansVariable', sans-serif;
  }
  
ul > li a::before {
  content: '⋮';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 16px;
margin-top: -8px;
}
 
body {
	    background-image: url(./img/delta.jpeg);
		background: transparent url(./img/desert.jpg)50% 50% no-repeat;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-attachment: fixed;
	    font-family: 'Noto Sans', sans-serif;
		background-attachment: fixed; 
		background-size: 130vmax;
		z-index:-1024;
}

#Kap { 
	display: block;
	position:Fixed;
	top:0;
	width: 100%;
    height: 5%;
	background-color: black;
	z-index: 1024;
	margin-bottom: 0.1vh;
	box-shadow: 0 2px 7px rgb(0 0 0 / 30%);
}

.brand {
		display: flow-root;
	    Float: left;
	    margin-left: 5%;
	    margin-top: auto;
	    font-size: 1.2em;
	    color: snow;
	    background-color: black;
	    -webkit-background-clip: text;
	    -moz-background-clip: text;
	    text-shadow: #dddddd9e 1px 1px 1px;
	    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	    letter-spacing: 1.5px;
	    -moz-perspective: 800px;
	    -webkit-perspective: 800px;
	    perspective: 800px;
	    text-decoration: none;
	    zoom: 1.25;
}
h5 {
		font-size: 0.52em;
		font-style:oblique;
	    color: azure;
	    -webkit-background-clip: text;
	    -moz-background-clip: text;
	    text-shadow: #dddddd9e 1px 1px 1px;
	    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	    letter-spacing: 1px;
	    -moz-perspective: 800px;
	    -webkit-perspective: 800px;
	    perspective: 800px;
	    text-decoration: none;
	    zoom: 0.5;
}
.brand:hover { 
		color: coral; 
		text-decoration: none;
		text-shadow: #dddddd9e 1px 1px 1px;
}

ul {
  text-align: right;
  background: #00000061;
  position: sticky;
  margin-top: -45px;
  z-index: 1049;
}

img#Hawk {
    position: relative;
    width: 32px;
    right: 2px;
    float: right;
    border-radius: 50%;
    border-block-color: snow;
    border-style: solid ridge none ridge;
    border-color: #f5f2f369;
}

img#Hawk:hover {
    border-color: #eacc7b;
}
img#Hawk2:active {
    border-color: #f3091c;
}
img#Hawk2:focus {
    border-color: #3fed08;
}
  div.mobile-bar-wrapper > label {
	-webkit-text-size-adjust: 100%;
    color: #878787;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: .06em;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    user-select: none;
    -webkit-box-flex: 0;
    flex-grow: 0;
    align-self: center;
    display: block;
    cursor: pointer;
    -webkit-box-ordinal-group: 1;
    order: 1;
    text-align: right;
    padding: 6vw;
}	
	
	
 #BlackFace{
	color: #fff;
	background-color: #000
}
.testimonials {
   max-width: 100%;
   margin: 0;
}

.scroller {
   overflow-x: scroll;
   overflow-y: hidden;
   display: flex;
   scrollbar-width: none;
}
.item {
   min-width: 100%;
   min-height: 97vmin; /* To start with */
   background-color: #000; /* For demo */
}

.scroller {
   /* Здесь существующие стили */
   scroll-snap-type: x mandatory;
   -ms-scroll-snap-points-x: snapInterval(0, 350px);
}
/*
.Frame {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
}

.Frame iframe {
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
}				scroll-snap-align: center;
*/
.item {
   /* Здесь существующие стили */
   scroll-snap-align: center;
}

.testimonials {
   /* Здесь существующие стили */
   padding: 0px;
   text-align: center;
}
.item {
   /* Здесь существующие стили */
   background-color: black; /* Change the value to white */
   margin-bottom: 0px;
   padding: 0 0px;
}
.item img {
   margin: 15px auto -60px;
   width: 100%;
   height: .item {
    min-width: 100%;
    min-height: 97vmin;
    background-color: #000;
};
   border: solid 4px #ffffff;
   border-radius: 60px;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
   z-index: 2;
}
.card {
   background-color: rgb(237, 242, 247);
   padding: 80px 40px 40px;
   border-radius: 10px;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
   z-index: 1;
}
.card p {
   font-style: italic;
   line-height: 1.6;
}
.card span {
   display: block;
   margin-top: 20px;
   color: teal;
   font-weight: bold;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}

<span class="btn prev">&lt;</span>
<span class="btn next">&gt;</span>

@media screen и (max-width: 480px) {
.item {
padding: 0 30px;
}
.card {
padding: 80px 30px 30px;
}
}

iframe {
	top: 10%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
	scrollbar-width: none;
	overflow: hidden;
}

.output {
    background: #eee;
}

#background {
    --color-txt1: #ffffff;
    --color-txt2: #5a7baf;
    --color-border1: #244576;
    --color-border2: #5a7baf;
    font-family: roboto, Arial, Tahoma;
    color: white;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

 .mobile-menu {
      position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1px;
    top: 0;
    background-color: black;
    left: 0vw;
    z-index: 9999999;
}
.mobile-menu__item {
  font-size: 17px;
  padding-bottom: 2px;
  background-color: #f2570c1a;
}
.mobile-menu__btn {
 position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 18px;
    cursor: pointer;
    transition: 1.4s;
    bottom: -9px;
    left: 4px;
}
.mobile-menu__icon {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  height: 2px;
  transition: .1s;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 2px;
  transition: .1s;
}
.mobile-menu__icon::after {
  top: 6px;
}
.mobile-menu__icon::before {
  top: -6px;
}
.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: .2s;
  overflow: hidden;
  background-image: url(./img/146.jpg);
  background-color: black;
}
.mobile-menu__list {
  transition: .03s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}
.mobile-menu__item {
  font-size: 17px;
  padding-bottom: 15px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #fff;
  background-color: #8d9e9842;
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}   
ul > li a {
  display: block;
  padding: 4px 30px;
  position: relative;
}
/* aside --> Flip  -------------------------------------------------------------------- */
#feedbackP{
	width : 103vw;
	height : 99vh;
	position : fixed; /* фиксируем позицию в окне */
	z-index : 40;
	/* сдвигаем панель вправо вниз: */
	top : 100%; 
	left : 100%;
	/* выдвигаем краешек: */	
	margin-top : -30px;
	margin-left : -130px;

	border : 2px solid;
	border-radius: 10px;
	
	padding: 5px;
	
	/*задаем эффект движения: */
	-moz-transition:margin 0.3s linear;	
	-o-transition:margin 0.3s linear;	
	-webkit-transition:margin 0.3s linear;	
	-ms-transition:margin 0.3s linear;	
	transition:margin 0.3s linear;	
}
#feedbackP:hover{	 
	/* выдвигаем панель на всеобщее обозрение: */	
	margin-top : -99vh;
	margin-left : -100vw;
	/*задаем эффект движения: */	
	-moz-transition:margin 0.3s linear;	
	-o-transition:margin 0.3s linear;	
	-webkit-transition:margin 0.3s linear;	
	-ms-transition:margin 0.3s linear;	
	transition:margin 0.3s linear;	
}

/*Делаем заголовок панели, как уголок папки с бумагами: */
#feedbackButton{
	font-weight : bold;
	margin-left : 10px;
	margin-top : -6px;
	border : 1px solid #717277;
	border-radius : 0px 0px 10px 10px;
	text-align : center;
	width : 100px;
	margin-bottom : 5px;
	color : #FFFFFF;
	background : #717277;
}

#feedBackIframe{
	width : 103vw;
	height : 99vh;
	border : 0.5px solid;
}

div#feedbackButton {
    color: black;
    text-shadow: 0.3px 0.3px 0.2px #fdfdff;
    background-color: #999;
    box-shadow: inset 1px 1px 5px #3333338c, 0.5px 0.5px 1px #bbbbcc91;
}
/*------------------------------------------------------------------------------------- */

footer.Footer:before{
	content" "
width: 100%
color: white;
}

.Footer {
	position: fixed;
    height: 5vh;
    left: 0;
    bottom: 0vh;
    width: 100%;
    background-color: #0e0e0ef5;
    color: #ffffffbd;
    text-align: center;
    z-index: 20;
}

img#Hawk2 {
    position: relative;
    height: 30px;
    width: 32px;
    left: 0.1vw;
    float: left;
    border-radius: 50%;
    border-block-color: silver;
    border-style: solid ridge none ridge;
    border-color: #ba9f5161;
    text-decoration: none;
    transform-style: preserve-3d;
    z-index: 5000000;
}

img#Hawk2:hover {
    border-color: #eacc7b;
    z-index: 5000000;
}

button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
}

div#Vertical {
  display: flex;
  position: revert;
  color: #fff;
  font-size: 3vh;
  background-color: #000000eb;
  align-content: center;
  margin-left: 3.7vh;
  margin-top: 5vh;
}

div#panel{font-saze: 0,5px}