html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary{display:block;}
audio,
canvas,
progress,
video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
progress{vertical-align:baseline;}
template,
[hidden]{display:none;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;color:#a5aeba;}
a:active,
a:hover{outline-width:0;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,
strong{font-weight:inherit;}
b,
strong{font-weight:bolder; font-family: Roboto;color:#000;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background-color:#ff0;color:#000;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;overflow:visible;}
button,
input,
select,
textarea{font:inherit;margin:0;}
optgroup{font-weight:bold;}
button,
input{overflow:visible;}
button,
select{text-transform:none;}
button,
html [type="button"],
[type="reset"],
[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
textarea{overflow:auto;}
[type="checkbox"],
[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-input-placeholder{color:inherit;opacity:0.54;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
*::-webkit-input-placeholder{color:#666;opacity:1;}
*:-moz-placeholder{color:#666;opacity:1;}
*::-moz-placeholder{color:#666;opacity:1;}
*:-ms-input-placeholder{color:#666;opacity:1;}
body input:focus:required:invalid,
body textarea:focus:required:invalid{}
body input:required:valid,
body textarea:required:valid{}
body{font-family:"Roboto", sans-serif;font-size:16px;}
#detailed h2{text-align:center; max-width: 1000px; margin:0 auto; padding:20px; line-height: 1.2;}
.screen-gallery{width:100%;text-align:center;}
.screen-gallery > div{display:inline-block;margin:10px 20px;vertical-align:top;}
.screen-gallery > div img{border:2px solid #465260;border-radius:4px;width:190px;background:url('../img/screen-top.png');padding:20px 0 0 0;cursor:pointer;}
.screen-gallery-caption{font-size:0.8em;max-width:190px;text-align:left;margin:5px 0 0 0;font-family:"RobotoBold";}
.big-screen{position:fixed;z-index:102;background:#fff;padding:0 15px 15px 15px;top:5%;left:50%;width:1040px;margin:0 0 0 -520px;min-height:550px;box-shadow:0 0 10px #333;display:none;}
.big-screen .big-screen-img{overflow-y:auto;overflow-x:hidden;min-height:520px;}
.big-screen table{position:absolute;left:0;top:0;background:rgba(37, 44, 51,0.9);width:100%;}
.big-screen table td:nth-child(1){width:150px;}
.big-screen-caption{padding:0 10px;color:#fff;display:inline-block;font-size:14px;}
.big-screen-caption span{margin:0 0 0 5px;}
.big-screen-rule{padding:6px 10px;}
.big-screen-rule i{font-size:33px;color:#ddd;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.big-screen-rule i:hover{cursor:pointer;color:#fff;}
.overlay{background:#000;position:fixed;top:0;left:0;right:0;bottom:0;opacity:.7;z-index:101;display:none;}
i.left, i.right{position:absolute;top:calc(50% - 10px);color:rgba(37, 44, 51,0.7);font-size:100px;cursor:pointer;}
i.left{left:-110px;}
i.right{right:-110px;}
i.left:hover, i.right:hover{color:rgba(37, 44, 51,1);}
.page-demo-dl{display:inline-block;width:40%;margin:10px 0 0 0;}
.page-demo-dl ul{list-style:none;margin:0 0 15px 0 !important;}
.page-demo-dl ul li{margin:10px 0;background:#eee;max-width:300px;border-radius:3px;}
.page-demo-dl ul li span{background:#ddd;padding:10px;display:inline-block;min-width:110px;margin:0 5px 0 0;border-radius:5px 0 0 3px;}
.page-demo-dl ul li i{width:20px;}
.page-demo-dl .btn{cursor:pointer;}
.page-download .btn{cursor:pointer;margin:10px 0 0 0;display:inline-block;}

.page-download .page-download-inst{padding:10px;background: #ddd;width:60%;}
.page-text a{color:#08c;text-decoration:underline;}
.page-text ul {margin:0 0 0 30px;}
.f-left{float:left;}
.f-right{float:right;}
.clear:after{content:" ";display:table;clear:both;}
.first-back{background:url(../img/first-back.jpg);}
.nav, .nav-2, ul{padding-left:0;}
.nav li{cursor:pointer;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.nav li:hover{color:#fff;}
.nav-2 li{cursor:pointer}
.dropdown{top:50px;position:absolute;background:#fff;width:150px;height:190px;z-index:9;border-radius:4px;left:-10px;display:none;box-shadow:#aeb0b3 0 1px 5px;}
.dropdown:before{position:absolute;display:block;content:"";top:-10px;left:64px;width:0;height:0;border-left:12px solid transparent;border-right:12px solid transparent;border-bottom:12px solid white;}
.nav .dropdown li{display:block;font-size:15px;color:#000;text-transform:none;height:47px;line-height:50px;position:relative;padding:0 5px;text-align:center;margin:0;border-bottom:solid 1px #eee;}
.nav .dropdown li:last-child{border-bottom:none;}
.nav li{display:inline-block;color:#a5aeba;text-transform:uppercase;margin-left:20px;margin-bottom:5px;}
.nav li{margin-left:none;}
.first-back{}
.dark_back{background-color:#323b45;min-height:70px;}
.nav-2{text-align:center;}
.nav-2 li{display:inline-block;color:#a5aeba;margin-left:70px;}
.nav-2 li.ico{text-decoration:underline;}
.nav-2 li:first-child{margin-left:0px;}
.btn-box .btn{display:inline-block;margin:10px 30px;}
.btn-box .btn:first-child{margin-left:0px;}
.btn{font-family:"RobotoBold";color:#fff;text-align:center;text-transform:uppercase;display:inline-block;}
.btn_orange_s{background-color:#d74917;height:40px;font-size:14px;line-height:40px;padding:0 24px 0 24px;border-radius:20px;}
.btn_gray_s{background-color:#39424d;height:40px;font-size:14px;line-height:40px;padding:0 24px 0 24px;border-radius:20px;}
.btn_orange_m{background-color:#d74917;height:60px;font-size:18px;line-height:60px;border-radius:30px;padding:0 38px 0 38px;border:0;outline:none;}
.btn_gray_m{background-color:#232b34;height:60px;font-size:18px;line-height:60px;border-radius:30px;padding:0 38px 0 38px;}
.btn_orange_b{background-color:#d74917;height:85px;font-size:23px;line-height:85px;border-radius:70px;padding:0px 65px;display:inline-block;cursor:pointer;}
.ml20{margin-left:20px;}
.btn_gray_b{background-color:#39424d;height:85px;font-size:23px;line-height:85px;border-radius:70px;padding:0px 65px;display:inline-block;cursor:pointer;}
.h610{}
.dm_height{min-height:120px;}
.h1{margin-top:20px;font-size:36px;color:#fff;text-align:center;font-family:"RobotoLight";font-weight: normal;}
#after_header p {color:#fff;font-family: "RobotoLight"; line-height:1.5; font-size: 17px;}
li .btn{display:inline-block;}
.first_menu{margin-top:35px;}
.container-fluid{margin:0;padding:0;}
.logo{padding-top:9px;}
.r90{display:inline-block;transform:translate(90deg);}
.discript{color:#fff;max-width:660px;font-size:15px;line-height:1.667;text-align:center;text-decoration:none!important;margin:18px auto 0 auto;}
.main-text-box{max-width:950px;margin:30px auto;text-align: center;}
.btn-box{margin:21px auto;max-width:530px;}
.btn-box-2{margin-top:42px;max-width:453px;margin-left:auto;margin-right:auto; margin-bottom:42px;}
.btn-box-2 .btn{margin-bottom:20px;}
.ico{position:relative;margin:10px 0;}
.ico:before{background-image:url(../img/main-sprite.png);width:25px;height:24px;display:block;content:"";position:absolute;left:-30px;}
.ico_row{width:16px;height:16px;display:inherit;margin:0;}
.ico_row:before{background-position:-24px 1px;top:6px;left:0;}
.ico_menu:before{top:15px;left:32px;}
.ico_tel:before{background-position:-96px 1px;top:1px;left:-38px;}
.ico_cheat:before{background-position:-47px 1px;top:1px;left:-38px;}
.ico_support:before{background-position:-122px 0px;top:3px;left:-38px;}
.ico_message:before{background-position:-74px 1px;top:2px;left:-38px;}
.user_avatar{margin-left:-25px;border-radius:72px;width:42px;height:42px;background-color:#8d4b19;background-image:url(../img/ava_primer.png);}
.messadge_coint{width:20px;height:20px;background-color:#ff611c;color:#fff;border-radius:22px;text-align:center;line-height:20px;font-size:13px;margin-left:29px;}
.mr20{margin-right:20px;}
.user_menu_box{margin:7px 0;display:none;}
.icons-box{margin:44px auto 40px auto;max-width:437px;}
.icons-box div{display:inline-block;margin-left:22px;top:-10px;}
.icons-box div:first-child{margin-left:0px;}
.ico-1{background-image:url(../img/main-sprite.png);background-position:-175px 0px;width:25px;height:24px;}
.ico-2{background-image:url(../img/main-sprite.png);background-position:-200px 4px;width:25px;height:24px;}
.ico-3{background-image:url(../img/main-sprite.png);background-position:-150px 0px;width:25px;height:24px;}
.ico-4{background-image:url(../img/main-sprite.png);background-position:-225px 3px;width:25px;height:24px;}
.ico-5{background-image:url(../img/main-sprite.png);background-position:-250px 3px;width:20px;height:24px;}
.line{background-color:rgb(255, 255, 255);opacity:0.102;width:20px;height:1px;position:relative;}
.posra{position:relative;}
.mr16{margin-right:16px;}
.browser{position:relative;border-radius:10px;background-color:#e2e4e5;max-width:400px;height:320px;margin:0 auto !important;}
.browser_cont{position:absolute;top:50px;width:100%;height:270px;background-color:#fff;border-radius:0 0 10px 10px;}
.br-circl{display:inline-block;background-color:#d8dada;width:14px;height:14px;margin-left:20px;border-radius:13px;margin-left:6px;margin-top:18px;}
.br-circl:first-child{margin-left:20px;}
.h2, h2{font-family:"RobotoLight";font-size:36px;color:#38464f;font-weight:normal;}
h4{font-family:"RobotoLight";font-size:30px;color:#38464f;font-weight:normal;margin:0;}
.h3{font-family:"RobotoLight";font-size:45px;color:#feffff;text-align:center;margin:40px 0;}
.text-section{margin-top:24px;color:#38464f;font-size:15px;line-height:2;}
.bgi{position:absolute;z-index:-1;width:100%;-webkit-background-size:cover;background-size:cover;}
.bgi_1{background:url(../img/bgi-1.png) no-repeat;}
.bgi_2{background:url(../img/bgi-2.png) no-repeat;}
.bgi_3{background:url(../img/bgi-3.png) no-repeat;}
.bgi_4{background:url(../img/bgi-4.png) no-repeat;}
.bgi_5{background:url(../img/bgi-5.png) no-repeat;}
.bgi_6{background:url(../img/bgi-6.png) no-repeat;}
.sect{padding:0;position:relative;}
.plus_block{margin-top:25px;background-image:url(../img/second-back.jpg);}
.h3_dis{margin-top:20px;margin-left:auto;margin-right:auto;margin-bottom:65px;font-size:15px;color:#fff;text-align:center;line-height:2;max-width:645px;opacity:.7;}
.h4{color:#feffff;font-size:24px;}
.h4_dis{font-size:15px;color:#fff;width:360px;line-height:1.667;margin-top:6px;opacity:.7;}
.plus_sect{margin-left:159px;margin-bottom:62px;height:90px;}
.ico_p{position:relative;}
.ico_p:before{background:url(../img/sprite-2.png);position:absolute;content:"";display:block;height:63px;left:-99px;width:60px;}
.ico_p-1:before{background-position:0px 0;}
.ico_p-2:before{background-position:-60px 0;}
.ico_p-3:before{background-position:-120px 0;}
.ico_p-4:before{background-position:-180px 0;}
.ico_p-5:before{background-position:-240px 0;}
.ico_p-6:before{background-position:-300px 0;}
.ico_p-7:before{background-position:-360px 0;}
.ico_p-8:before{background-position:-420px 0;}
.ico_p-9:before{background-position:-480px 0;}
.ico_p-10:before{background-position:-540px 0;}
.ico_p-11:before{background-position:-600px 0;}
.ico_p-12:before{background-position:-660px 0;}
.ico_p-13:before{background-position:-720px 0;}
.ico_p-14:before{background-position:-780px 0;}
.ico_p-15:before{background-position:-840px 0;}
.ico_p-16:before{background-position:-900px 0;}
.plus_block ul{list-style-type:none;}
.h5{margin-top:30px;font-family:"RobotoLight";font-size:48px;color:#38464f;text-align:center;}
.h6{margin-left:30px;width:600px;display:inline-block;font-family:"RobotoLight";font-size:48px;color:#38464f;text-align:left;}
.blog-title{max-width:600px;display:inline-block;font-family:"RobotoLight";font-size:35px;color:#38464f;line-height:1.3;margin-bottom:30px;}
.blog-title a{color:#38464f;}
.h5_dis{font-size:15px;color:#38464f;max-width:640px;line-height:1.667;margin-top:24px;opacity:.7;text-align:center;margin-left:auto;margin-right:auto;}
.footer_back{background-image:url(../img/footer-back.jpg);color:#a5aeba;min-height:260px;margin-top:0px;padding-top:60px;}
.soc_box{padding-top:24px;}
.soc_box div{display:inline-block;width:20px;height:20px;margin:0 15px;}
.soc1{background-image:url(../img/footer-sprite.png);background-position:-75px 0;}
.soc2{background-image:url(../img/footer-sprite.png);background-position:-100px 2px;}
.soc3{background-image:url(../img/footer-sprite.png);background-position:-126px 0px;}
.footer_back ul li{list-style-type:none;}
.nav3{text-transform:uppercase;line-height:2;}
.nav3 li{text-decoration:underline;}
.tw{color:#fff;}
.mt20{margin-top:20px;}
.icof{position:relative;}
.icof:before{left:-10px;top:7px;position:relative;height:20px;width:20px;content:"";display:inline-block;background-image:url(../img/footer-sprite.png);}
.icof_tel:before{background-position:0px 0;}
.icof_mail:before{background-position:-25px 0;}
.icof_skype:before{background-position:-50px 0;}
.in-page{height:300px;}
.b_main{text-transform:uppercase;color:#a5aeba;display:inline-block;font-weight:bold;}
.b_crumb{text-transform:uppercase;color:#a5aeba;display:inline-block;font-weight:bold;}
.del{margin:0 5px;font-weight:bold;color:#ddd;}
.b_two{color:#a5aeba;text-transform:uppercase;display:inline-block;}
.breadcrump{margin-top:30px;font-size:15px;}
.in-pager{background-color:#F9F9F9;}
.greybg{background-color:#F9F9F9;}
.blog-post{margin-bottom:40px;margin-left:70px;padding-top:30px;position:relative;border-top:solid 1px #e8edef;}
.blog-post:first-of-type{margin-bottom:40px;padding-top:0;border-top:none;}
.date-box{background:#fff;width:60px;height:60px;text-align:center;border-radius:4px;border:solid 1px #fff;position:absolute;left:-80px;top:40px;box-shadow:#f2f2f2 0 0 6px;}
.blog-post:first-of-type .date-box{left:-80px;top:10px;}
.day{color:#484D4F;font-size:20px;}
.mont{color:#AAB0B4;font-size:15px;}
.mt40{margin-top:40px;}
.intro{margin-top:25px;font-size:15px;}
.intro a{color:#08c;text-decoration:underline;}
.intro ul {margin:0 0 0 30px;}
.intro h2 {font-size:25px;}
.tags{margin-top:20px;}
.tags span{display:inline-block;margin-right:6px;margin-bottom:7px;padding:4px 14px;background:#e6ecef;border-radius:20px;font-size:15px;color:#66747b;}
.meta{color:#333;margin-top:23px;font-size:15px;}
.meta a {color:#333;}
.meta span{margin-right:6px;}
.search{width:100%;height:50px;background-color:#fff;border:none;padding-left:20px;}
.sidebar{background:#fff;box-shadow:#e7e7e7 0 0 11px;margin:30px 0;padding:25px 30px 0px 30px;}
.sidebar-title{font-size:21px;color:#2d444e;font-family:"RobotoLight", sans-serif;}
.sidebar ul{list-style:none;}
.sidebar ul li{color:#828c90;padding:12px 20px 12px 0;font-size:14px;border-bottom:solid 1px #eff3fb;}
.sidebar ul li:last-of-type{border-bottom:none;padding-bottom:18px;}
.sidebar ul li a{color:#828c90;}
.sidebar .rubrics li{color:#c2cacd;padding:12px 20px 12px 0;font-size:14px;border-bottom:none;display:inline-block;width:48%;}
.sidebar-menu{}
ul.sidebar-menu li.active{text-decoration:none!important;margin-left:-30px;padding-left:29px;border-left:solid 2px #f84708;}
.sidebar ul.sidebar-menu li.active a{text-decoration:none!important;color:#f84708;}
.pager{margin:30px 0;}
.pager span{display:inline-block;margin-right:7px;}
.pager .page{color:#66747b;background:#e6ecef;width:28px;height:28px;text-align:center;border-radius:28px;font-size:14px;line-height:26px;}
.pager .page.current{text-decoration:none;background:#f84708;}
.pager .page a{color:#66747b;}
.pager .page.current a{color:#fff;}
.page{margin-bottom:50px;padding:0 10px;}
.page-title{color:#2d444e;font-size:35px;font-family:"RobotoLight", sans-serif;}
h3{font-family:"RobotoLight", sans-serif;color:#45565f;font-size:20px;}
.page-text{line-height:1.7;font-size:15px; font-family: RobotoLight;}
.page-text h2 {font-size:25px;}
.form-control{width:80%;min-height:50px;background-color:#fff;border:none;padding-left:20px;margin-bottom:20px;box-shadow:#f3f3f3 0 0 10px;}
.form-control::-webkit-input-placeholder{color:#cfd2d4;}
.form-control:-moz-placeholder{color:#cfd2d4;}
.text-center{text-align:center;}
.active{text-decoration:none;}
.pt-n{padding-top:0;}
.pt-sm{padding-top:10px;}
.pt-md{padding-top:20px;}
.m-n{margin:0;}
.mt-sm{margin-top:10px;}
.mb-sm{margin-bottom:10px;}
.ml-sm{margin-left:20px;}
.mt-md{margin-top:30px;}
.mb-md{margin-bottom:30px;}
.mt-lg{margin-top:50px;}
.mb-lg{margin-bottom:50px;}
.user_menu_dropdown{left:-34px;top:42px;height:190px;}
.user_menu_dropdown li{display:block;font-size:15px;color:#000;text-transform:none;height:47px;line-height:50px;position:relative;padding:0 5px;text-align:center;border-bottom:solid 1px #eee;}
.user_menu_dropdown li:last-of-type{border-bottom:none;}
.footer_back a{color:#a5aeba;}
.owl-dots{text-align:center;margin:44px auto 40px auto;}
.owl-dot{display:inline-block;background-image:url(../img/main-sprite.png);background-position:-175px 0px;width:25px;height:24px;margin-left:62px;}
.owl-dot:first-of-type{margin-left:0;}
.owl-dot:nth-of-type(1){background-position:-175px 0px;}
.owl-dot:nth-of-type(1).active, .owl-page.active:nth-of-type(1):hover{background-position:-297px 0px;}
.owl-dot:nth-of-type(2){background-position:-200px 4px;}
.owl-dot:nth-of-type(2).active, .owl-page.active:nth-of-type(2):hover{background-position:-321px 4px;}
.owl-dot:nth-of-type(3){background-position:-150px 0px;}
.owl-dot:nth-of-type(3).active, .owl-page.active:nth-of-type(3):hover{background-position:-270px 0px;}
.owl-dot:nth-of-type(4){background-position:-225px 3px;}
.owl-dot:nth-of-type(4).active, .owl-page.active:nth-of-type(4):hover{background-position:-346px 3px;}
.owl-dot:nth-of-type(5){background-position:-250px 3px;width:20px;}
.owl-dot:nth-of-type(5).active, .owl-page.active:nth-of-type(5):hover{background-position:-372px 3px;}
@media (min-width:1200px){#header.fixed{position:fixed;width:100%;background:rgb(37, 44, 51);z-index:100;}
#header.fixed .dm_height{min-height:64px;}
#header.fixed .first_menu{margin-top:3px;}
#header.fixed .nav-2{margin:5px auto;}
#header.fixed .dark_back{min-height:56px;}
}

@media (min-width:1000px){
   .main-video {width:1000px; height:533px;}
}

@media (max-width:320px){
    .h3{font-size:41px;}
}



@media (max-width:991px){
    .text-center_sm{text-align:center;}
    .main-video {width:900px; height:480px;}
}

@media (max-width:810px){
    .nav-2 li{display:block;color:#a5aeba;margin-left:0;}
    .ico::before{display:none;}
    .ico.ico_row::before{display:block;}
    .main-video {width:800px; height:426px;}
}

@media (max-width:770px){
    .date-box{display:none;}
    .blog-post{margin-left:0;padding:30px 10px 0 10px;}
    .blog-title{font-size:27px;}
    .main-video {width:760px; height:405px;}
}

@media (max-width:565px){
    .plus_sect{margin-left:0;margin-bottom:62px;height:auto;text-align:center;}
    .ico_p::before{background:url(../img/sprite-2.png);position:relative;content:"";display:block;height:63px;left:0;width:60px;top:0;margin:0 auto;}
    .h4_dis{text-align:center;width:100%;}
    .main-video {width:560px; height:298px;}
}

@media (max-width:425px)
{
    .main-video {width:400px; height:213px;}
}

@media (max-width:375px)
{
    .main-video {width:350px; height:186px;}
}

.b-pagination a{text-decoration:none;background:#f1f1f1;width:5px;height:5px;padding:5px 12px 5px 12px;line-height:5px;margin:0 5px;color:#000;font-size:14px;text-align:center;}
.b-pagination .b-pagination_page-active{display:inline !important;text-decoration:none;background:#BD3E25;width:5px;height:5px;padding:5px 12px 5px 12px;line-height:5px;margin:0 5px;color:#fff;font-size:14px;text-align:center;}
.b-pagination li{list-style:none;}
.b-pagination li{display:inline;}
.b-pagination .fa-2x{position:absolute;margin-top:-3px;margin-left:-6px;}
.ico_support_chat:before{background-position:-122px 0px;top:3px;}
.ico_chat:before{background-image:url(../img/main-sprite.png);content:"";position:relative;height:17px;width:22px;content:"";display:inline-block;left:-14px;}
.sidebar ul a li{color:#828c90;padding:12px 20px 12px 0;font-size:14px;border-bottom:solid 1px #eff3fb !important;}
.mt20.icof.icof_skype{text-decoration:underline;}
.icof.icof_skype{text-decoration:underline;}

.table-hostings ul {margin:0 0 0 50px;}
.table-hostings table {width:100%;}
.table-hostings table th {text-align: left; border-bottom: 2px solid #465260; margin: 20px 0 0 0; font-weight: bold; font-family: Roboto;}
.table-hostings table td {padding:5px 0;}
.table-hostings table td {line-height: 1.2;}
.table-hostings table td ul {margin:0 0 0 25px;}
.table-hostings table img {height: 35px;}
.demoinp{
    border: none;
    background: none;
    outline-width: 0;
}

.main-video {border: 1px solid #465260;}

.screen-slider {margin: 10px auto; overflow: hidden; position: relative; width:1074px;}
.screen-slider .fa {position: absolute; top:calc(50% - 20px);background:rgba(37, 44, 51,0.7); padding: 10px; color:#fff; cursor: pointer;}
.screen-slider img {display:inline;}
.screen-slider .fa:hover {background:rgba(37, 44, 51,1);}
.screen-slider .fa-arrow-left {left:0;}
.screen-slider .fa-arrow-right {right: 0;}
.screen-slider-wrapper {overflow-y: scroll;height: 500px;border: 1px solid #465260; margin: 0 auto;width:1008px;}
.screen-slider-bg {background: #f2f2f2; padding: 10px 0 15px 0;}
.screen-slider-header {margin:0 33px; background: #465260; padding:10px 15px; color:#fff; font-size: 14px;}
.screen-slider-thumbs {margin:10px 33px; width:1008px; white-space: nowrap; overflow-x: scroll; overflow-y:hidden; padding:5px 0;}
.screen-slider-thumbs > li {display:inline-block; margin:0 4.2px 0 0;}
.screen-slider-thumbs > li > img {width:70px; border: 1px solid #465260; cursor: pointer;}
.screen-slider-thumbs > li:hover, .screen-slider-thumbs > li.current {background: rgba(157, 199, 255,0.8); cursor: pointer;}
.screen-slider-thumbs > li:hover img, .screen-slider-thumbs > li.current > img {opacity:0.5;}

.screen-slider ::-webkit-scrollbar{width:6px;height:5px;}
.screen-slider ::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px;border-color: #777;background-color: #465260;}
.screen-slider ::-webkit-scrollbar-thumb:hover{border-width: 1px 1px 1px 2px;border-color: #555;background-color: #777;}
.screen-slider ::-webkit-scrollbar-track{border-width:0;}
.screen-slider ::-webkit-scrollbar-track:hover{background-color: #eee;}

.main-fb {display: inline-block; width: 440px; vertical-align:top;}
.footer-row {display: inline-block; width:calc((99% - 450px) /3); vertical-align:top;}

@media (max-width:450px)
{
    .screen-slider-header {margin:0 5px;}
    .screen-slider {width:360px;}
    .screen-slider-wrapper {height: 186px;width:350px;}
    .screen-slider-wrapper > img {width:350px}
    .screen-slider-thumbs {width:350px; margin: 10px 5px;}
    .main-fb {width:250px;}
    .page-demo-dl {display:block; width:100%;}
    .page-demo-dl ul li {width:100%;}
    .footer-row {display:block; width: 90%; margin:0 auto;}
}


.col-md-8 img {width:100%; height: auto;}


.line-2{
    display:inline-block;
    float:left;
    position:relative;
    margin-right:70px;
}
.line-2 input[type=checkbox]{position: relative; margin: 0 2px 0 0; top:-1px; vertical-align: middle;}
.line-2 h3 {font-weight: bold; font-family: Roboto; font-size: 1em; color:#000;}
.line-2 select {padding:3px;}

#cont_install {margin:-20px 0 0 0;}
#str_install{
    width: 100%;
    background: #ddd;
    padding: 0 10px 10px 10px;
    margin: 5px 0;
    word-wrap: break-word;
}
#button_generate{
    clear:both; margin:30px 0 20px 0;
}

#generate_install {color:#fff; padding: 15px; cursor: pointer;font-weight: bold; font-family: 'Roboto', sans-serif; user-select: none;}
#generate_install:hover {background: #d76311}
#generate_install:active {box-shadow:inset 0 2px 2px #881600;cursor:default;}

.stat {width: 95%; margin: 25px auto 0 auto;}
.stat > div {width:calc(100% / 3 - 5px); display: inline-block; background:#eee; text-align: right; padding:20px;line-height: 1.2; position:relative;}
.stat .stat-number {font-size:2.5em; font-weight: bold; margin:0;font-family: Roboto;color: #d74917;}
.stat .stat-icon:before {font-family: fontAwesome; position:absolute; left:0; color: #323b45; margin: 5px 0 0 15px; font-size:1.8em;}
.stat > div:nth-child(1) .stat-icon:before {content: "\f0c0";}
.stat > div:nth-child(2) .stat-icon:before {content: "\f063";}
.stat > div:nth-child(3) .stat-icon:before {content: "\f013";}

@media (max-width:450px)
{
	.stat .stat-icon:before {position:relative;}
	.stat > div {min-height:166px; vertical-align: top; padding:20px 5px; width:calc(100% / 3 - 5px); text-align: center;}
}
.hostings-special {margin:20px 0 0 0;}
.hostings-special > div {width:40%; display:inline-block; vertical-align: top;}


#imgBig, #imgSmall {
    cursor: pointer;
    /* max-height: 800px !important; */
    max-width: 1300px !important;
    width: auto;
    height: auto;
    /* height: 1500px !important; */
    overflow: auto;
    text-align: center;
}
#overlayContent {
    position: fixed;
    width: 100%;
    top: 50%;
    text-align: left;
    display: none;
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
    /* overflow: auto; */
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;
}
.page-text img:hover {
    cursor: pointer;
}